<div>
  <h2 id="page-heading" data-cy="TiposPontoVendaHeading">
    <span jhiTranslate="trilhasTesteApp.tiposPontoVenda.home.title">Tipos Ponto Vendas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="trilhasTesteApp.tiposPontoVenda.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tipos-ponto-venda"
        [routerLink]="['/tipos-ponto-venda/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="trilhasTesteApp.tiposPontoVenda.home.createLabel"> Create a new Tipos Ponto Venda </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tiposPontoVendas?.length === 0">
    <span jhiTranslate="trilhasTesteApp.tiposPontoVenda.home.notFound">No tiposPontoVendas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="tiposPontoVendas && tiposPontoVendas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="trilhasTesteApp.tiposPontoVenda.nome">Nome</span></th>
          <th scope="col"><span jhiTranslate="trilhasTesteApp.tiposPontoVenda.descricao">Descricao</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tiposPontoVenda of tiposPontoVendas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tipos-ponto-venda', tiposPontoVenda.id, 'view']">{{ tiposPontoVenda.id }}</a>
          </td>
          <td>{{ tiposPontoVenda.nome }}</td>
          <td>{{ tiposPontoVenda.descricao }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/tipos-ponto-venda', tiposPontoVenda.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/tipos-ponto-venda', tiposPontoVenda.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(tiposPontoVenda)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
