<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="tiposPontoVenda">
      <h2 data-cy="tiposPontoVendaDetailsHeading">
        <span jhiTranslate="trilhasTesteApp.tiposPontoVenda.detail.title">Tipos Ponto Venda</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ tiposPontoVenda.id }}</span>
        </dd>
        <dt><span jhiTranslate="trilhasTesteApp.tiposPontoVenda.nome">Nome</span></dt>
        <dd>
          <span>{{ tiposPontoVenda.nome }}</span>
        </dd>
        <dt><span jhiTranslate="trilhasTesteApp.tiposPontoVenda.descricao">Descricao</span></dt>
        <dd>
          <span>{{ tiposPontoVenda.descricao }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/tipos-ponto-venda', tiposPontoVenda.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
